:root,
[data-theme="default"] {
    --color-text-main: #FFFFFF;
    --color-elements: #8E8E8E;
    --bgcolor-main: #0A0A0A;
}

[data-theme="dark"] {
    --color-text-main: #A1B0BE;
    --bgcolor-main: #202020;
}
