:root,
[data-theme="default"] {
    --color-text-main: #FFFFFF;
    --clr-elements: #8E8E8E;
    --clr-gray-light: #8E8E8E;
    --bgcolor-main: #0A0A0A;
    --clr-blue: #0038FF;
    --clr-orange: #FFB800;
    --clr-purple: #CC00FF;
    --clr-green: #70FF00;
    --clr-blue-light: #00A3FF;
}

[data-theme="dark"] {
    --color-text-main: #A1B0BE;
    --bgcolor-main: #3F3F3F;
}
